<div class="panel-body">
  <div class="form-group no-marginb">
    <%= label_tag 'Minimum Item Count (n)' %>
    <%= text_field_tag "#{param_prefix}[preferred_quantity]", promotion_rule.preferred_quantity, class: 'form-control marginb preferred_quantity' %>
  </div>
</div>
